<a href="https://colab.research.google.com/github/gullayeshwantkumarruler/18cse167DMDW/blob/main/Untitled.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [141]:
import numpy as np # linear algebra
import pandas as pd # df processing, CSV file I/O (e.g. pd.read_csv)
import seaborn as sns
from sklearn.metrics import confusion_matrix, accuracy_score
import matplotlib.pyplot as plt
%matplotlib inline

import warnings
warnings.filterwarnings("ignore")

In [142]:
df = pd.read_csv('/content/Loan_payments_data.csv')

In [143]:
# from google.colab import drive
# drive.mount('/content/drive')

In [144]:
df.head()

       Loan_ID loan_status  Principal  ...  age             education  Gender
0  xqd20166231     PAIDOFF       1000  ...   45  High School or Below    male
1  xqd20168902     PAIDOFF       1000  ...   50              Bechalor  female
2  xqd20160003     PAIDOFF       1000  ...   33              Bechalor  female
3  xqd20160004     PAIDOFF       1000  ...   27               college    male
4  xqd20160005     PAIDOFF       1000  ...   28               college  female

[5 rows x 11 columns]

In [145]:
df.isna().sum()

Loan_ID             0
loan_status         0
Principal           0
terms               0
effective_date      0
due_date            0
paid_off_time     100
past_due_days     300
age                 0
education           0
Gender              0
dtype: int64

In [146]:
df.drop(['effective_date','due_date','paid_off_time','past_due_days'],axis='columns',inplace=True)

In [147]:
df.drop('Loan_ID',axis='columns',inplace=True)

In [148]:
df.head()

  loan_status  Principal  terms  age             education  Gender
0     PAIDOFF       1000     30   45  High School or Below    male
1     PAIDOFF       1000     30   50              Bechalor  female
2     PAIDOFF       1000     30   33              Bechalor  female
3     PAIDOFF       1000     15   27               college    male
4     PAIDOFF       1000     30   28               college  female

In [149]:
# df.Principal.values

In [150]:
df['Principal'].value_counts()

1000    377
800     111
300       6
500       3
900       2
700       1
Name: Principal, dtype: int64

In [151]:
df['terms'].value_counts()

30    272
15    207
7      21
Name: terms, dtype: int64

In [152]:

df2 = pd.get_dummies(data=df, columns=['education','Gender','terms'])
df2.columns

Index(['loan_status', 'Principal', 'age', 'education_Bechalor',
       'education_High School or Below', 'education_Master or Above',
       'education_college', 'Gender_female', 'Gender_male', 'terms_7',
       'terms_15', 'terms_30'],
      dtype='object')

In [153]:
df2.head()

  loan_status  Principal  age  ...  terms_7  terms_15  terms_30
0     PAIDOFF       1000   45  ...        0         0         1
1     PAIDOFF       1000   50  ...        0         0         1
2     PAIDOFF       1000   33  ...        0         0         1
3     PAIDOFF       1000   27  ...        0         1         0
4     PAIDOFF       1000   28  ...        0         0         1

[5 rows x 12 columns]

In [154]:
df2.head()

  loan_status  Principal  age  ...  terms_7  terms_15  terms_30
0     PAIDOFF       1000   45  ...        0         0         1
1     PAIDOFF       1000   50  ...        0         0         1
2     PAIDOFF       1000   33  ...        0         0         1
3     PAIDOFF       1000   27  ...        0         1         0
4     PAIDOFF       1000   28  ...        0         0         1

[5 rows x 12 columns]

In [155]:
df2['loan_status'].value_counts()

PAIDOFF               300
COLLECTION            100
COLLECTION_PAIDOFF    100
Name: loan_status, dtype: int64

In [156]:
df2['loan_status'].replace({'PAIDOFF':0,'COLLECTION_PAIDOFF':1,'COLLECTION':2},inplace=True)

In [157]:
# y_train.head()

In [158]:
X = df2.drop('loan_status',axis='columns')
y = df2['loan_status']

from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.2,random_state=5)

In [159]:
X_train.shape

(400, 11)

In [160]:
from tensorflow import keras

In [161]:
y_train = keras.utils.to_categorical(y_train, 3)
y_test = keras.utils.to_categorical(y_test, 3)

In [162]:
X_train.dtypes

Principal                         int64
age                               int64
education_Bechalor                uint8
education_High School or Below    uint8
education_Master or Above         uint8
education_college                 uint8
Gender_female                     uint8
Gender_male                       uint8
terms_7                           uint8
terms_15                          uint8
terms_30                          uint8
dtype: object

In [163]:
from sklearn.preprocessing import StandardScaler

# Define the scaler 
scaler = StandardScaler().fit(X_train)

# Scale the train set
X_train = scaler.transform(X_train)

# Scale the test set
X_test = scaler.transform(X_test)

In [164]:
X_train.shape
# y_train.shape

(400, 11)

In [165]:
import tensorflow as tf
from tensorflow import keras


model = keras.Sequential([
    keras.layers.Dense(11, input_shape=(11,), activation='relu'),
    keras.layers.Dense(6, activation='relu'),
    keras.layers.Dense(4, activation='relu'),
    keras.layers.Dense(3,activation='softmax')
])

# opt = keras.optimizers.Adam(learning_rate=0.01)

model.compile(optimizer='adam',
              loss='categorical_crossentropy',
              metrics=['accuracy'])

model.fit(X_train, y_train, epochs=20)

Epoch 1/20
13/13 [==============================] - 0s 2ms/step - loss: 1.0143 - accuracy: 0.6025
Epoch 2/20
13/13 [==============================] - 0s 2ms/step - loss: 0.9954 - accuracy: 0.6025
Epoch 3/20
13/13 [==============================] - 0s 2ms/step - loss: 0.9828 - accuracy: 0.6025
Epoch 4/20
13/13 [==============================] - 0s 2ms/step - loss: 0.9719 - accuracy: 0.6025
Epoch 5/20
13/13 [==============================] - 0s 2ms/step - loss: 0.9637 - accuracy: 0.6025
Epoch 6/20
13/13 [==============================] - 0s 2ms/step - loss: 0.9572 - accuracy: 0.6025
Epoch 7/20
13/13 [==============================] - 0s 2ms/step - loss: 0.9513 - accuracy: 0.6025
Epoch 8/20
13/13 [==============================] - 0s 2ms/step - loss: 0.9465 - accuracy: 0.6025
Epoch 9/20
13/13 [==============================] - 0s 2ms/step - loss: 0.9434 - accuracy: 0.6025
Epoch 10/20
13/13 [==============================] - 0s 2ms/step - loss: 0.9404 - accuracy: 0.6025
Epoch 11/20
13/13 [==============================] - 0s 2ms/step - loss: 0.9375 - accuracy: 0.6025
Epoch 12/20
13/13 [==============================] - 0s 2ms/step - loss: 0.9350 - accuracy: 0.6025
Epoch 13/20
13/13 [==============================] - 0s 2ms/step - loss: 0.9331 - accuracy: 0.6025
Epoch 14/20
13/13 [==============================] - 0s 2ms/step - loss: 0.9305 - accuracy: 0.6025
Epoch 15/20
13/13 [==============================] - 0s 2ms/step - loss: 0.9289 - accuracy: 0.6025
Epoch 16/20
13/13 [==============================] - 0s 2ms/step - loss: 0.9269 - accuracy: 0.6025
Epoch 17/20
13/13 [==============================] - 0s 2ms/step - loss: 0.9260 - accuracy: 0.6025
Epoch 18/20
13/13 [==============================] - 0s 2ms/step - loss: 0.9243 - accuracy: 0.6025
Epoch 19/20
13/13 [==============================] - 0s 2ms/step - loss: 0.9225 - accuracy: 0.6025
Epoch 20/20
13/13 [==============================] - 0s 2ms/step - loss: 0.9207 - accuracy: 0.6025

In [166]:
# !pip install tensorflow